[package]
name = "metropolis"
version = "0.1.0"
authors = ["ManifoldFR <manifoldfr@outlook.com>"]
edition = "2018"

[lib]
crate-type = ["rlib", "cdylib"]

[dependencies]
rand = "0.6.1"
serde = "1.0.83"
serde_json = "1.0.33"
