[package]
name = "metropolis"
version = "0.1.0"
authors = ["ManifoldFR <manifoldfr@outlook.com>"]
edition = "2018"

[lib]
crate-type = ["rlib", "cdylib"]

[dependencies]
serde = "1.0.84"
serde_json = "1.0.34"
statrs = "0.10.0"
rand = "0.6.4"

[patch.crates-io]
statrs = { git = "https://github.com/boxtown/statrs" }

[build-dependencies]
cbindgen = "0.6.8"

[workspace]
members = [
    "pylib"
]
